



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------
[ LINK ]*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}


/*//////////////////////////////////////////////////////////////////
[ Content ]*/


button{
  padding:8px;
  margin:5px;
  border-radius: 50px;
  cursor:pointer;
  background-color:white;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.products::-webkit-scrollbar {
  width: 4px;            
}

.products::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;     
}

.background-pattern{
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  background: #7A82CD;
  background: -webkit-linear-gradient( 268deg,  #7A82CD 4.1%,#979ED8 74.3% );
  background: -o-linear-gradient( 268deg,  #7A82CD 4.1%,#979ED8 74.3% );
  background: -moz-linear-gradient( 268deg,  #7A82CD 4.1%,#979ED8 74.3% );
  background-image: linear-gradient( 268deg,  #7A82CD 4.1%,#979ED8 74.3% );  
  
}

.main-container {
  width: 1300px;
  background: #fff;
  border-radius: 10px;
  overflow: auto;
  padding: 40px;
}

.title-pattern {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
  cursor: pointer;
}

.option {
  width: 22%;
  float:left;
  padding:20px;
}

.products {
  width: 43%;
  float:left;
  padding:20px;
  background:rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: auto;
  height:610px;
}

.product{
  margin:20px 0px 20px 0px;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;

}

.indicators{
  width: 35%;
  float:left;
  padding:20px;
}

.indicator{
  padding-left: 3em;
}

.imgPrdt{
  width:200px;
  display: block;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------------------------------------
[ Input ]*/

.div-select {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 27px;
}

.label-select {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  padding-left: 5px;
}




/*//////////////////////////////////////////////////////////////////
[ Restyle Select2 ]*/

.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

.select2-container .select2-selection--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
}

/*------------------------------------------------------------------
[ in select ]*/
.select2-container .select2-selection--single .select2-selection__rendered {
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding-left: 5px ;
  background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select2-selection__arrow b {
  display: none;
}

.select2-selection__arrow::before {
  content: '';
  display: block;
  
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #999999;
  margin-bottom: 2px;
}

.select2-selection__arrow::after {
  content: '';
  display: block;
  
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #999999;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 72px 15px 65px 15px;
  }
}










